__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
notebooks/
pitch/
mlruns/
mlruns.db
models/baseline_cnn.keras
models/efficientnetb0_best.keras
*.png
.env
.git
.gitignore
data/*
!data/raw_data/
!data/raw_data/CUB_200_2011/
!data/raw_data/CUB_200_2011/classes.txt
