# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Data / models
data/*
!data/.gitkeep

models/*
!models/.gitkeep

mlruns/*
!mlruns/.gitkeep

registry/*
!registry/.gitkeep

screenshots/*
!screenshots/.gitkeep

pitch/*

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/
