# Python
__pycache__/
*.pyc

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Data
data/

# MLflow runs
mlruns/
mlruns.db

# Pitch deck
pitch/

# Models
models/
*.h5
*.keras
*.pt
notebooks/*.png
notebooks/*.jpg
notebooks/*.jpeg
