# Python
__pycache__/
*.pyc

# Environment
.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Data
data/**
!data/raw_data/
!data/raw_data/CUB_200_2011/
data/raw_data/CUB_200_2011/**
!data/raw_data/CUB_200_2011/classes.txt

# MLflow runs
mlruns/
mlruns.db

# Pitch deck
pitch/

# Models
models/**
!models/efficientnetb0_fine_tuned.keras

*.h5
*.pt
notebooks/*.png
notebooks/*.jpg
notebooks/*.jpeg
